<div class="error-box">
  <div class="error-body text-center">
    <h1 id="carnet">{{carnet}}</h1>
    <h4>José Rafael Morente González
    </h4>

    <div class="row">
      <div class="col-md-6">
        <button type="button" 
        class="btn btn-danger btn-lg btn-block" (click)="restar()">Restar</button>
      </div>
      <div class="col-md-6">
        <button type="button" 
        class="btn btn-primary btn-lg btn-block" (click)="sumar()">Sumar</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>